body{
    background-color: black
}

#app{
    background-image: url('img/game.jpg');
    margin-left: 20%;
    margin-right: 20%;
    background-repeat: no-repeat;
    height: 100vh;
}

.mymodal-content{
    border: 3px solid #fff;
    border-radius: 5px;
    
}
.mymodal-header{
    background-image: linear-gradient(#724770 50%,#b67cb5 45%);
}
.introduction{
    border-radius: 25px;
    color: #724770;
    font-weight: 600;
    font-size: 18px;
    width:200px; 
    margin:0 auto;
    border: 1px solid #b67cb5;

}
.mymodal-foote{
    background: #604D53;
    height: 10px !important;
}
.number{
    border: 5px ridge #44FF00;
    border-radius: 100%;
    padding: 0 5px;
}
.ques-number{
    border: 2px ridge #724770;
    background: #fff;
    border-radius: 100%;
    padding: 0 5px; 
}
.ans-number{
    border: 2px groove #724770;
    background-image: linear-gradient(#fff 10%, #724770 50%);
    color: white;
    border-radius: 100%;
    padding: 0 5px; 
}

.question-bg{
    background-image: repeating-radial-gradient(yellow, white 20%); 
}

@media only screen and (max-width: 600px) {
    body{
        /* background-size: 100%; */
        height: 100vh;
        width: 100vw;
    }
} 

@media only screen and (min-width: 768px){
    body{
        /* background-size: 100%; */
        height: 100vh;
        width: 100vw;
    }
} 

