body{
    background-color: black
}

#app{
    background-image: url('img/game.jpg');
    margin-left: 20%;
    margin-right: 20%;
    background-repeat: no-repeat;
    height: 100vh;
}

.mymodal-content{
    border: 3px solid #fff;
    border-radius: 5px;
    
}
.mymodal-header{
    background-image: linear-gradient(#724770 50%,#b67cb5 45%);
}
.introduction{
    border-radius: 25px;
    color: #724770;
    font-weight: 600;
    font-size: 18px;
    width:200px; 
    margin:0 auto;
    border: 1px solid #b67cb5;

}
.mymodal-foote{
    background: #604D53;
    height: 10px !important;
}
.number{
    border: 5px ridge #44FF00;
    border-radius: 100%;
    padding: 0 5px;
}
.ques-number{
    border: 2px ridge #724770;
    background: #fff;
    border-radius: 100%;
    padding: 0 5px; 
}
.ans-number{
    border: 2px groove #724770;
    background-image: linear-gradient(#fff 10%, #724770 50%);
    color: white;
    border-radius: 100%;
    padding: 0 5px; 
}

.question-bg{
    background-image: repeating-radial-gradient(yellow, white 20%); 
}

#myCursor {
    top: 30px;
    left: 30px;
    z-index: 1;
    cursor: none;
    width: 230px;
    height: 130px;
    display: none;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("img/cursorbinocular.png");
    }
    .myModal {
    position: absolute;
    top: 20%;
    left: 33%;
    background-color: #fdfdfd;
    border: #ffffff 2px solid;
    border-radius: 10px;
    }
    .myModal > div{
    width: 450px;
    }
    .mymodal-header {
    border-radius: 10px 10px 0 0;
    }
    .myfooter {
    background: #604D53;
    height: 10px !important;
    border-radius: 0 0 10px 10px;
    }
    .question {
    position: absolute;
    background-color: #E0C441;
    width: 58.6%;
    left: 20%;
    bottom: 0px;
    font-size: 14px;
    z-index: 2;
    }
    .cursor-pointer {
    cursor: pointer;
    }
    .myCheck {
    margin-top: -13px;
    margin-left: 15px;
    }
    .mybtn {
    position: absolute;
    top: 45%;
    left: 47%;
    }

.timer{
    position: fixed;
    bottom: 200px;
    right: 23%;
    font-size: 20px;
    font-weight: 600;
    width: 120px;
    border: 5px ridge rgba(222, 184, 135, 0.932);
    color: burlywood;
    background: rgb(34, 15, 1)   
}

.level{
    position: fixed;
    bottom: 60px;
    right: 22%;
    font-size: 20px;
    font-weight: 600;
    padding: 2px ;
    width: 120px;
    background:white;
    border: 10px inset #b67cb5;
    border-radius: 15px;
    color: #724770;
    z-index: 3;
}

@media only screen and (max-width: 600px) {
    body{
        /* background-size: 100%; */
        height: 100vh;
        width: 100vw;
    }
} 

@media only screen and (min-width: 768px){
    body{
        /* background-size: 100%; */
        height: 100vh;
        width: 100vw;
    }
} 

